.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.test-app h2{
  font-size: 50px;
  color: rgb(32, 15, 15);
  font-style: oblique;
  line-height: 0.8em;
}


.lfa_logo_img{
  height: 185px;
  padding-top: 1em;
  position:absolute; top:0%; right:4%

}

.lfa_children_img{
  height: 121px;
  padding-top: 0.3em;
  margin:auto
}